{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <section class="loading_form">

                    {{ form_start(form) }}
                    {{ form_row(form.file) }}
                    <div class="check_test">
                        <span>Test mode</span>
                        {{ form_row(form.flag_test_mode) }}
                    </div>

                    {{ form_row(form.save) }}
                    {{ form_end(form) }}

                    {% if loadReport %}

                        <div id="load_report">
                            <div>Load failed - {{ loadReport }}</div>
                        </div>

                    {% endif %}

                    {% if failedRecords %}

                        <div id="inserts_report">
                            <div>Amount of processed inserts - {{ amountProcessedItems }}</div>
                            <div>Amount of failed inserts - {{ amountFailedItems }}</div>
                            <div>Amount of success inserts - {{ amountSuccessesItems }}</div>
                            <div>time passed - {{ processingTime }}</div>
                            <div>Amount of memory - {{ amountMemory }}</div>
                            <div>
                                Failed records:
                                <table id="failed_records_list">
                                    <thead>
                                    <tr>
                                        {% for key, contain in failedRecords[0] %}
                                            <td>
                                                {{ key }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for record in failedRecords %}
                                        <tr>
                                            {% for key, contain in record %}
                                                <td>
                                                    {{ contain }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    {% endif %}

                </section>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}

    <link href="{{ asset('assets/css/main.html.css') }}" rel="stylesheet">

{% endblock %}